@font-face {
  font-family: Bebas;
  src: url(Bebas.ttf);
}
nav a.nav-link:hover{
  border-bottom: 5px solid #ff6200;
  font-weight: bold;
}
nav a.nav-link:active{
  border-bottom: 5px solid #ff6200;
  font-weight: bold;
}
h3, h5{
  color: #ff6200;
}
.border-bottom{
  border-bottom: 5px solid #585858;
  padding-bottom:.5em;
  width:90%;
}

form{
  width:90%;
}
.button{
  background-color:#ff6200;
  color:white;
  padding-left:2em;
  padding-right:2em;
  padding-top:.2em;
  padding-bottom:.25em;
  border-style: none;
}
